@use "../../partials/reset" as *;
@use "../../partials/variables" as *;

.back-button {
  position: absolute;
  bottom: 42px;
  left: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.25rem;
  height: 2.5rem;
  border: 1px solid $google-blue;
  border-radius: 5px;
  background-color: white;
  color: $google-blue;
  font-weight: 500;
  font-size: 0.875rem;
  text-transform: uppercase;
  cursor: pointer;
}